/* css styles for single column layout - print */

body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 0;
}
#wrapper{
  width: 100%;
  position: relative;
  padding-top: 1px;
}
header{

  height: 80px;


}

header #logo{

  border: 1px solid #000;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
}

header #tagline{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 32px;
  font-weight: bold;
}

header #phone{
  position: absolute;
  top: 53px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
}
/* stuff to hide */
nav,
footer{
  display:none;
}