/* Mobile styles for devices uner 768px */

body{
   font-family: Arial, sans-serif;
   font-size: 16px;
   margin: 0;
   
}
#wrapper{
   width: 100%;
   background-color: #ccc;
   position: relative;
}

header{
   background-color: #fcc;
   height: 50px;
   position:fixed;
   width: 100%;
   z-index: 10000;
   top: 0;
   opacity: 0.9;
   box-shadow: 0 4px 6px rgba(0,0,0,0.55);
}
header #logo{
  background-color: #ccf;
  border: 1px solid #000;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 45px;
}
header #tagline{
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 16px;
  font-weight: bold;
}
header #phone{
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #000;
  background: linear-gradient(#ccc,#999);
  border-radius: 5px;
  padding: 2px 4px 2px 12px;
}

/* styles for mobile "hamburger menu" navigation */
nav{
   position: fixed;
   perspective: 1000px;
   perspective-origin: 100% 100%;

   top:0px;
   left:0px;
   z-index: 10040;
}
nav a#menubutton{
   position: absolute;
   top: 5px;
   left: 5px;
   z-index: 10100;
   display: block;
   width: 32px;
   height: 33px;
   border: 2px solid #000;
   background-color: #ccc;
   background: linear-gradient(#ddd, #999);
   border-radius: 4px;
   box-shadow: 0px 2px 6px rgba(0,0,0,0.45);
}
/* CSS for menu lines */
nav a#menubutton span{
  display: block;
  height: 3px;
  background-color: #222;
  margin-bottom: 5px;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

/* rules for main navigation menu list */
nav ul#navlist{
  transform: rotateX(90deg);
  opacity: 0;
  
  position:fixed;
  top: 40px;
  left: 5px;
  width: 150px;
  z-index: 10200;
  
  border: 1px solid #000;
  background-color: #eee;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.55);
  
  transform-origin: top;
  transition: all ease-in-out 0.3s;
}

nav ul#navlist,
nav ul#navlist li ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul#navlist ul.submenu{

}

nav ul#navlist li{

}

nav ul#navlist li a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px 10px 5px 6px;
  border: 1px solid #000;
  font-size: 16px;
  background: linear-gradient(#ddd,#aaa);
}

nav ul#navlist li ul.submenu li a{
  padding: 5px 4px 5px 20px; 
  font-size: 14px;
  background: linear-gradient(#fdd,#caa);
}

/* Show the menu when hovered over <nav> */
nav:hover ul#navlist{
  transform: rotateX(0deg);
  opacity: 1;
}

/* End nav menu styles */


main{
   margin-top: 50px;
   background-color: #fcf;
   min-height: 300px;
   padding: 10px;
}
main p{
   line-height: 1.5em;
}
main img{
   max-width: 100%;
   height: auto;
}
footer{
  color: #eee;
  height: 60px;
  background-color: #444;
}