

      body{
        font-family: Arial, sans-serif;
        font-size: 16px;
        background-color: #1c2f5a;

        /*background-image: url(../chicken_face2.jpg);
        */
        background: -moz-linear-gradient(#a0cfd9, #1c2f5a);
        background: -webkit-linear-gradient(#a0cfd9, #1c2f5a);
        background: linear-gradient(#a0cfd9, #1c2f5a);
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
      }
      /* Wrapper needs a position: relative, so that any positioned child
         elements will take their point of reference from the top-left of 
         the wrapper, not the viewport. */
      #wrapper{
        width: 960px;
        background-color: #ddf;
        margin: 0 auto;
        position: relative;
        /*padding-top: 1px;*/
      }
      
      /* All IE browsers have a problem with the <main> element, since this
         element was added later to the HTML5 spec. We need to tell IE browsers
         that the <main> element is block level. */
      main{
        display: block;
      }
      main img{
        /* max-width will not affect the size of an image if the viewport is
           wide enough to show it. However, if the viewport is set less than 
           the width of the image, it will switch to 100%, and resize to fit. 
           Make sure to also set height: auto; so that the image keeps its 
           aspect ratio. */
        max-width: 100%;
        height: auto;
      }
      /* CSS for header elements. Header is set to "fixed", which will 
         prevent it from scrolling with the rest of the page. When an 
         element is set to "fixed", it will not take the width of the 
         parent element anymore, but instead the width of the viewport.
         We need to set the correct width. */
      header{
        background-color: #fcc;
        height: 200px;
        position: fixed;
        width: 960px;
        z-index: 10000;
        top: 0;
        color:#fff;
        opacity: 0.9;
        background-image: url('../header_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      /* Absolutely positioning DIV elements inside the <header> for precise
         layout. Use PX fonts here, since we don't want these to change 
         relative to the <body> font size. */
      header #logo{
        background-color: #ccf;
        border: 1px solid #000;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 5px;
        left: 5px;
      }
      header #tagline{
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 32px;
        font-weight: bold;
      }
      
      header #phone{
        position: absolute;
        top: 53px;
        right: 10px;
        font-size: 18px;
        font-weight: bold;
      }
      
      /* Hide the menu button for desktop */
      #menubutton{
        display: none;
      }
      /* CSS for site navigation */
      nav{
        height: 50px;
        background-color: #ddf;
        text-align: center;
        margin-top: 150px;
      }
      nav ul{
        margin: 0;
        padding: 0;
      }
      /* display: inline-block; sets elements to behave like inline elements 
         (ie: line up horizontally), but still take "box" or "block" properties
         like vertical margin and/or padding, as well as width and height, which
         inline elements normally cannot use. */
      nav ul li{
        display: inline-block;
        list-style-type: none;
      }
      /* Rule to set styles for links inside the navigation menu. 
         we need to remove the underline (text-decoration), set some 
         padding so that we have a larger "hot" area, and set the color
         to black instead of the default blue. Also, in order to use any 
         "box" properties, such as vertical padding/margin, we need to 
         set the display of the links to "block". */
      nav ul li a{
     /* If you are doing navigation with rectangles, or "buttons"
     then you should use consistent width and height, and 
     center the text with text-align: center. Otherwise, if
     there are NO buttons, only text, then use only padding. 
     */      
      
        padding: 14px 26px 12px 26px;
        display: block;

        text-decoration: none;
        color:#000;

        font-size: 20px;
        /* CSS transition. This will animate any changes between the 
           "normal" state of the link, and the "hover" state. */
        transition: all ease-in-out .3s;
      }
      /* This sets the background and text color to change when the 
         links are hovered over. */
      nav ul li a:hover{

        color: #800;
        background-color: #aac;
      }
      /* Rule to keep the button hover styles when we are overtop the submenu.
         In order to show this comment, we have this as a separate rule. But,
         we could simply add this selector to the rule right above. */
      nav ul li:hover a{
        color: #800;
        background-color: #aac;        
      }
      
      /* Styles for popup menu */
      /* The nested <ul> is inside an <li> with a class of "has_submenu".
         We are setting this <li> to have position: relative, so that 
         the nested <ul> can take its point of reference from it. */
      nav ul li.has_submenu{
        position: relative;
        z-index: 999;
        -webkit-perspective: 1000px;
        -webkit-perspective-origin: center center;       
        perspective: 1000px;
        perspective-origin: center center;
      }
      /* Set styles for the submenu <ul> itself. We're basically treating 
         it like a regular "box", but also with absolute positioning so that  
         it sits "on top" of the other page content. Also, remember to set 
         a high z-index so that it never goes behind any other elements. */
      nav ul.submenu{
        opacity: 0;
        position: absolute;
        /* Animate popup menu method #1. Move the top position to somethign
           very high, like -999em, and ONLY transition the opacity. This way,
           when the menu item is not hovered, the submenu is sitting far above
           the page, and won't interfere. */
        /*top: -1000px;*/
        /* method 2 - use CSS clip to hide part of the menu, and animated it.  */
        /*clip: rect(-12px,300px,0px,-12px);*/
        
        /* Method 3: use CSS 3D transform rotateX to put the menu "on edge". */
        -webkit-transform: rotateX(90deg);
        -webkit-transform-origin: top;        
        transform: rotateX(90deg);
        transform-origin: top;
        overflow: hidden;
        left: 0px;
        background-color:#ccc;
        width: 170px;
        z-index: 1000;
        
        -webkit-transition: ease-in-out .2s;
        -webkit-transition-property: opacity, transform;
        
        transition: ease-in-out .2s;
        transition-property: opacity, transform;
        
      }
      /* Show the submenu. This is accomplished using a contextual selector, 
         after the :hover pseudo-class. So the specified children of the 
         hovered element are affected. Here, we are changing the previously 
         set display: none; to display:block, which will un-hide the menu. */
      nav ul li.has_submenu:active ul.submenu,
      nav ul li.has_submenu:hover ul.submenu{
        opacity: 1;
        /*top: 50px;*/
        /* Method 2. Clip the menu so that it is hidden, until hovered. The 
           :hover will animate the clip to "un-clip" it. */
        /*clip: rect(-12px, 300px, 400px, -12px);*/
        /*top: 50px;  - method #1 */
        
        /* Method 3: "flip" the menu up, so that it is effectively hidden. The
           user will be viewing it "edge on". */
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }      
      /* Main menu LI's were previously set to display: inline-block, so that 
         will inherit for these as well. We need to set them back to regular 
         "block" behaviour, and align them to the left (parent LI's are 
         aligned center) */
      nav ul.submenu li{
        display: block;
        text-align: left;
        
      }
      /* As with the <li> tags, we need to add styles for the <a> elements
         inside to override inherited previous styles. */
      nav ul.submenu li a{
        padding-left: 16px;
        background-color: #aaa;
        margin: 3px;
      }
      nav ul.submenu li a:hover{
        background-color: #666;
        color: #ddd;
      }
      

      
      
      main{
        background-color: #fcf;
        padding: 1px 45px 1px 45px;
        min-height: 400px;


      }
      main p{
        line-height: 1.5em;
      }
      footer{

        height: 100px;
        background-color: #444;
      }
    
      html body div main p em.highlight{
        background-color: #ff9;
      }
      
      #wrapper main .highlight{
        background-color: #f99;
      }

      #box{
        border: 1px solid #000;
        background-color: #ccc;
        padding: 12px;
        width: 200px;
        height: 100px;
        position: absolute;
        top: 300px;
        left: 300px;
        z-index: 5;
      }
      /* Set breakpoint to 959 pixels. Basically, when the browser window or
         device viewport is less than 960px. */
      @media screen and (max-width: 960px){
        #wrapper{
          width: 100%;
        }
        header{
          width: 100%;
        }
      }
      
      
      
      
      
      
      
      
      
      