/* styling for max-width: 767px */

body{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #cfcfcf;
  font-weight: 400;
}

header, footer, div, nav, ul, li{
  box-sizing: border-box;
}
#inner_header,footer, #container{
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.80);
}
/* header styling */
header{
  width: 100%;
  position: fixed;
  z-index: 1000;
}

#inner_header{
  width: 960px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0,0.9);
  color: #fff;
  height: 100px; 
  position: relative;
  z-index: 100;
}

#inner_header span{
  display: block;
  margin-left: 75px;
}

/* logo positioning */

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
  width: 200px;
}

/* main section */

#container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 1000px;
  background-color: #300;
  background: -webkit-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -moz-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -ms-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -o-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  overflow: hidden;
}

#inner{
  width: 100%;
  max-width: 960px;
  margin-top: 150px;
  color: #fff;
}

/* CSS foro book now button */

button{
  position: absolute;
  right: 220px;
  top: 10px;
  color: #fff;
  background:#900;
  padding: 4px 6px;
  border: 2px solid #900;
  font-size: 1em;
  border-radius:4px; 
}

button:hover{
  box-shadow: 0 0 0 2px #fff;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Animation with keyframes */

@-webkit-keyframes swing
{
  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
     transform: translateX(-5px);
  } 
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@keyframes swing
{
  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
  }
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

/* CSS for Social Media Icons */

#social_media{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 10px;
  margin-right: 25px;  
}

.facebook, .instagram, .twitter{
  transition: 0.2s all ease-in-out;
}

.facebook:hover{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.instagram:hover{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.twitter:hover{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

/* CSS for Phone no. */

#phone img{
  width: 20px;
  height: 20px;
  float:left;
  position: absolute;
  top: 14px;
  left: 434px;
}

#phone span{
  position: absolute;
  top: 14px;
  left: 390px;
}

/* styling for navigarional elements */

nav#main ul{
  padding: 0;
  margin: 0;
  position: absolute;
  right: 2px;
  top: 73px;
}

nav#main ul li{
  list-style-type: none;
  display: inline-block;
  padding-right: 25px;
  font-size: 16px;
  font-family: 'Roboto Slab','Times New Roman', serif;
  font-weight: 700;
  position: relative;
}
nav#main ul li a{
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0 6px;
}

nav#main ul li a:visited,
nav#main ul li a:link{
  color: #fff; 
}

nav#main ul li a:hover,
nav#main ul li a:active,
nav#main ul li.current a{
  color: #fff;
  background: rgba(153,0,0,0.8);
  border-top: 2px solid #300;
  border-bottom: 2px solid #300;
  border-radius: 4px;
}

/* for responsive images */
img{
  max-width: 100%;
}

/* hemburger menu */
#toggle_menu{
  display: none;
}



span.underline{
  border-left: 5px solid #ff3;
  padding: 2px 5px 2px 10px;
  font-family: 'Cookie', cursive;
  font-size: 1.5em;
}

/* CSS for Footer */

footer{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100px;
  background: #300;
  overflow: hidden;
  text-align: center;
  font-size: 0.7em;
}

.footer_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #000;
  }

.footer_row div {
  text-align: left;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  width: 100%;
  max-width: 230px;
  background: #000;
  color: #fff;  
}

.footer_row div h1{
  margin-top: 0;
  font-family: 'Raleway','arial', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

#contact_us h2{
  margin-bottom: 0;
  font-size: 1em;
}

#contact_us p{
  margin-top: 0;
  margin-bottom: 0;
}

footer > p{
  background: #300;
  color: #fff;
  font-family: 'Raleway','Arial', sans-serif;
  font-weight: 400;
}

#services ul{
  margin: 0;
  padding: 0;
}

#services ul li {
  list-style-type: none;
  text-decoration: none;
}

#quick_links ul{
  margin: 0;
  padding: 0;
}

#quick_links ul li {
  list-style-type: none;
}

#quick_links ul li a{
  text-decoration: none;
  color: #fff;
}

#quick_links ul li a:hover,
#quick_links ul li a:active{
  text-decoration: underline;
}